<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="antonio.ejemplos.agendacomercial">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconoapp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="antonio.ejemplos.agendacomercial.activitys.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="antonio.ejemplos.agendacomercial.activitys.AltaUsuarios"
            android:label="@string/title_activity_alta_usuarios"
            android:parentActivityName="antonio.ejemplos.agendacomercial.activitys.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="antonio.ejemplos.agendacomercial.activitys.MainActivity" />
            <!-- - Autogenera botón para regresar a la activity padre -->

        </activity>
        <activity
            android:name="antonio.ejemplos.agendacomercial.activitys.ModificarUsuarios"
            android:label="@string/title_activity_modificar_usuarios"
            android:parentActivityName="antonio.ejemplos.agendacomercial.activitys.MainActivity"
            android:windowSoftInputMode="stateHidden" >

            <!-- - Para que no aparezca el teclado -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="antonio.ejemplos.agendacomercial.activitys.MainActivity" />
            <!-- - Autogenera botón para regresar a la activity padre -->

        </activity>
        <activity
            android:name="antonio.ejemplos.agendacomercial.activitys.ImportarContactos"
            android:label="@string/title_activity_importar_contactos" >
        </activity>

    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
